body, html {
    height: 100%;
    margin: 0;
}

.intro {
    height: 100vh;
    background-image: url(Images/Villagers.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    width: 80%;
}
